@font-face {
    font-family:PressStart2P;
    font-stretch: ultra-condensed;
    src: url(../JacksPlace/Files/PressStart2P-Regular.ttf)
 }
.lockbody{
    overflow: hidden;
    background-image: url(../JacksPlace/Files/bgtemp.png); /*make sure this link is not broken*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-top: 5%;
    padding-left: 5%;
}

.lockcontent{
    max-width: 400px;

    margin: 0%;
    font-family: PressStart2P;
    color: rgb(11, 148, 29);
}

.lbl {
    display: block;
    font-size: 14pt;
    font-family: PressStart2P;
    color: rgb(11, 148, 29);
    margin-top: 14pt;    
}

#username, #pass, #submit{
    font-size: 14pt;
    font-family: PressStart2P;
    color: rgb(11, 148, 29);      
    padding: 4pt;
    margin-top: 8pt;  
    border-style: solid;  
    border-color: rgb(11, 148, 29);
    border-width: 2px;
    border-radius: 0px;
    background-color: black;
}

#submit{
    margin-top: 24pt;
}

#letter {
    font-family: PressStart2P;
    color:#0000;
    background:
      linear-gradient(-90deg,rgb(11, 148, 29) 5px,#0000 0) 10px 0,
      linear-gradient(rgb(11, 148, 29) 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
      b .7s infinite steps(1),   
      t calc(var(--n)*.4s) steps(var(--n)) forwards;
  }
  @keyframes t{
    from {background-size:0 200%}
  }
  @keyframes b{
    50% {background-position:0 -100%,0 0}
  }  
