@font-face {
    font-family:PressStart2P;
    font-stretch: ultra-condensed;
    src: url(C:/Users/jack_/Pictures/Website/Images/PressStart2P-Regular.ttf); 
 }
/*@import url(https://fonts.googleapis.com/css?family=Press+Start+2P); test this online*/

.lockbody{
    overflow: hidden;
    background-image: url(C:/Users/jack_/Pictures/Website/Images/bgtemp.png); /*make sure this link is not broken*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-top: 5%;
    padding-left: 5%;
}

.lockcontent{
    max-width: 400px;

    margin: 0%;
    font-family: PressStart2P;
    color: rgb(11, 148, 29);
}

.lbl {
    display: block;
    font-size: 14pt;
    font-family: PressStart2P;
    color: rgb(11, 148, 29);
    margin-top: 14pt;    
}

#username, #pass, #submit{
    font-size: 14pt;
    font-family: PressStart2P;
    color: rgb(11, 148, 29);      
    padding: 4pt;
    margin-top: 8pt;  
    border-style: solid;  
    border-color: rgb(11, 148, 29);
    border-width: 2px;
    border-radius: 0px;
    background-color: black;
}

#submit{
    margin-top: 24pt;
}

#letter {
    font-family: PressStart2P;
    color:#0000;
    background:
      linear-gradient(-90deg,rgb(11, 148, 29) 5px,#0000 0) 10px 0,
      linear-gradient(rgb(11, 148, 29) 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
      b .7s infinite steps(1),   
      t calc(var(--n)*.4s) steps(var(--n)) forwards;
  }
  @keyframes t{
    from {background-size:0 200%}
  }
  @keyframes b{
    50% {background-position:0 -100%,0 0}
  }  

/*#bgvid{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    left:0px;
    z-index: 1;
} this code is for lockold html*/

/*p, h1{
    color: rgb(233, 243, 246);
} other content styling*/

/*#globe {
    width: 100%;
    height: auto;
}other image styling*/

/*a:link {text-decoration: none; position: relative; top: 500px;}
a:visited {text-decoration: none; position: relative; top: 500px;}
a:hover {text-decoration: none; position: relative; top: 500px;}
a:active {text-decoration: none; position: relative; top: 500px;}

#navtext{
    color: rgb(233, 243, 246);
    font-size: 12pt;
    display: inline;

} this is the navagation formatting for non lock pages*/

#contactbody{
    background-image: url(C:/Users/jack_/Pictures/Website/Images/contactbackground.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

    overflow: hidden; /* Hide scrollbars */
}

#indexbody{
    background-image: url(C:/Users/jack_/Pictures/Website/Images/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden; 
}